<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/works">Works</a>
    <a href="/gallery">Photo Gallery</a>
    <p>
        <b>Park Hyo-shin</b> (Hangul: 박효신, Hanja: 朴孝信; born December 1, 1981) is a South Korean ballad singer and musical theatre actor known for his emotional vocals.<br>
        He debuted in 1999 and has since released many hit songs including, "Snow Flower," "Wild Flower," and "Good Person."
    </p>
    <table>
        <tr>
          <th>Background information</th>
        </tr>
        <tr>
          <td>Birth name</td>
          <td>Park Hyo-shin</td>
        </tr>
        <tr>
          <td>Born</td>
          <td>December 1, 1981 (age 39)<br>
            Yesan, South Chungcheong, South Korea</td>
        </tr>
        <tr>
            <td>Genres</td>
            <td>Korean balladPop ballad</td>
          </tr>
          <tr>
            <td>Occupation(s)</td>
            <td>Singermusical theatre actor</td>
          </tr>
      </table>
</body>
</html>