<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Photo Gallery</a>
    <h1>Works</h1>
    <div>
        <h2>Career</h2>
        <p>
            He became a trainee at a Korean entertainment company. 
            However, due to problems that happened in his management company, he moved to another company. 
            Park thought there wouldn't be any problems in this new company, but this company forced Park to pay money because he ignored a sponsor. 
            Due to these issues, Park thought about giving up his dream of being a singer. 
            However, his friend introduced Park to composer Hwang Yoon Min, and he started to sing again under Hwang's supervision.
        </p>

        <h3>1999–2003: Debut and early career</h3> 
        <p>
            Park trained to become a singer for almost a year until his debut date. 
            On November 4, 1999, he appeared in a radio station. Then on November 30, 1999, he released his first album Things I Cannot Do For You, with the title song being "Things I Cannot do for You".
            Park entered the national spotlight when he attended a KBS TV show called Lee Sora's Propose. 
            After appearing on the program, his popularity increased significantly, which led to 440,000 copies of his debut album being sold and his album placing 15th on 2000s Music Recording Sales. 
            He was also rewarded for the 15th Golden Disk Awards: Rookie of the Year award.
            The album Second Story was released in January 2001, and the song "Longing" was a big hit. 
            This album's producers were famous Korean producers Yoon Sang, Kim Dong Ryul, Jo Kyu Man and Yoo Hee Yeol, who made Park's album even more sophisticated. 
            The fans say that this album was the highest grossing album to date.
            The next album, Time Honored Voice, was released in September 2002 with 470,000 copies sold.
             The title song, "A Good Person", ranked first for two weeks in a row on SBS Ingi Gayo and won Main Prize in the 17th Golden Disk and Seoul Music Award.
        </p>
        <h3>
            2004–2010: Drama soundtracks and 10th anniversary
        </h3>
        <p>
            The song that is said to have brought Park to fame was "Snow Flower", a song on the original soundtrack of the 2004 KBS drama, I'm Sorry, I Love You. 
            The song is a cover of the Japanese single "Yuki no Hana" by Mika Nakashima.
            Park released his 5th full studio album in 2007. The title song for this album was "Memories resemble Love" and ranked top 3 in the music chart.
            He not only participated in his album but was also a singer for many original soundtracks inserted in TV programs and movies. 
            Park sang "Hwashin," or "Flower Letter", for the original soundtrack of the 2008 SBS period drama Iljimae. 
            In 2008, he also participated in Hwang Project as the lead vocal by releasing the song "The Castle of Zoltar," which was quite different from the music that he sang in early stage of his career.
            To celebrate the 10th anniversary of his debut, Park held a series of concerts, titled Park Hyo Shin's Gift from October 16 to 18, 2009 at the Olympic Fencing Gymnasium.
            On May 23, 2009, Park participated in "Green Concert". 
            At the same time, he also worked on his 6th studio album. On September 15, 2009, Park released his 6th album, Gift, Part 1. 
            The song "After Love" made it to number one on the music charts.
        </p>
        <h3>2011–present: Hiatus and comeback</h3>
        <p>
            Park served 21 months in Yongsan District as an entertainment soldier as part of conscription in South Korea. He finished his service in September 2012.
            Park performing "Wild Flower" at his 15th anniversary concert in 2014.
            After a four-year hiatus, Park released consecutive hit singles, all of which topped local music charts. "Wild Flower" was released in March 2014. The ballad single is about overcoming emotional turmoil through the metaphor of a resilient wildflower. 
            It garnered the first place spot on the K-pop Hot 100, beating out Mr. Chu by Apink.[13] The song remained on the charts long after its release, still placing 70th in March 2016.
            It was followed by "Happy Together" in November 2014. In April 2015, Park released the digital single "Shine Your Light".
            In 2014, Park played Wolfgang Amadeus Mozart in the musical Mozart! at the Sejong Center.
            Park's contract with Jellyfish Entertainment since 2008 expired in 2016. On August 24, 2016 Park signed with Glove Entertainment. 
            This move was, however, highly controversial, as Park later faced a fraud lawsuit after reportedly taking approximately 400 million KRW worth of gifts after promising to sign an exclusive contract with another company.
            Under Glove Entertainment, Park released a new album in October 2016, followed by a concert titled "I Am A Dreamer" from October 8–16, 2016.
        </p>

    </div>

</body>
</html>